@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --animate-bounce: bounce 1500ms ease-in-out infinite;
  --font-display: "DM Serif Display", sans-serif;
  --font-sans: "DM Sans", Arial, sans-serif;

  --color-akaroa-50: #f9f7f3;
  --color-akaroa-100: #f2ede2;
  --color-akaroa-200: #e4d9c4;
  --color-akaroa-300: #dacaaf;
  --color-akaroa-400: #c0a177;
  --color-akaroa-500: #b28a5d;
  --color-akaroa-600: #a57851;
  --color-akaroa-700: #896145;
  --color-akaroa-800: #704f3c;
  --color-akaroa-900: #5b4233;
  --color-akaroa-950: #30221a;

  --color-almond-50: #faf6f2;
  --color-almond-100: #f4ece0;
  --color-almond-200: #e6d2b8;
  --color-almond-300: #dabb97;
  --color-almond-400: #ca9a6d;
  --color-almond-500: #bf8050;
  --color-almond-600: #b16d45;
  --color-almond-700: #94573a;
  --color-almond-800: #774735;
  --color-almond-900: #613c2d;
  --color-almond-950: #341e16;

  --ui-primary: var(--color-akaroa-950);
  --ui-secondary: var(--color-almond-400);

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: ease-in-out;
    }
    50% {
      transform: none;
      animation-timing-function: ease-in;
    }
  }
}

:root {
  --ui-header-height: 4.5rem;
  --ui-scroll-margin: var(--ui-header-height);
  --ui-container: 96rem;
  --ui-border: #f1f1f1;
}

@media screen and (max-width: 1023px) {
  :root {
    --ui-header-height: 3.5rem;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: var(--ui-primary);
  }
}
